/* Practing styles */

body {
	background-color: blue;
	color: red
}
h1{
	font-family: arial;
}
img{
	width: 10%
	height:15%;
}
a{
	text-decoration: none;
}
ul li{
	list-style: none;
}